.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.chat-input {
    padding: 10px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}

.chat-send-button {
    padding: 12px 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 15px;
    border: none;
    background-color: rgb(25, 135, 84);
    color: white;
    cursor: pointer;
}